<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boottest.dao.CityDao">
	<resultMap id="BaseResultMap" type="com.boottest.domain.City">
		<result column="id" property="id" />
		<result column="province_id" property="provinceId" />
		<result column="city_name" property="cityName" />
	</resultMap>

	<select id="getFirst" resultMap="BaseResultMap">
		select id,province_id,city_name from city limit 1;
	</select>

</mapper>
